name: Integration Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image:  mcr.microsoft.com/azure-functions/node:4-node20
      env:
        FUNCTIONS_WORKER_RUNTIME: node

    steps:
      - uses: actions/checkout@v6
      - name: install global dependencies
        shell: bash
        run: | 
          npm install -g azure-functions-core-tools@4 --unsafe-perm true
          npm install -g wait-on
      - name: install dependencies
        shell: bash
        run: npm ci
      - name: start-test-function
        shell: bash
        working-directory: ./example
        run: |
          npm run start &
          
          echo "Waiting until function launched on 8080..."
          wait-on tcp:8080
          echo "Function launched"
      - name: test-function
        shell: bash
        run: |
          npm run test:integration

