name: Integration Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    container:
      image:  mcr.microsoft.com/azure-functions/node:4-node18
      env:
        FUNCTIONS_WORKER_RUNTIME: node

    steps:
      - uses: actions/checkout@v3
      - name: install-library
        shell: bash
        run: |
          npm ci
      - name: install-test-function
        shell: bash
        working-directory: ./example
        run: |
          npm ci && npm install -g azure-functions-core-tools@3 --unsafe-perm true
      - name: start-test-function
        shell: bash
        working-directory: ./example
        run: |
          npm run start &
      - name: test-function
        shell: bash
        run: |
          npm run test:integration

